{% extends 'base.html' %}
{% load static %}
{% block title %}
LIMS | Sample Intake Form (FO-043)
{% endblock %}
{% block Content %}
Sample Intake Form (FO-043)
{% endblock %}
{% block body %}
         <hr style="margin-top: 60px;">
         </hr>
         <div class="" style="margin:10px;width: 100%;">
         <div>
            {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="color:black;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> X </span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
            <!-------------------------------------------------------------------------------->
            <!-- Buttons For Add New Sample and Download Excel.  -->
            <!-- <button class="search-input"><i class="fa fa-plus"></i> Add sample 
               </button> -->
            <a href="\SampleIntakelog">
            <button class="search-reset"><i class="fa fa-eye"></i> Sample Intake Log 
            </button>
            </a>
            <a href="\SampleTrackingForm">
                <button class="search-reset"><i class="fa fa-edit"></i> Sample Tracking Form 
                </button>
                </a>
            <!--  <input class="search-reset" type="submit" value="Add sample"></input>
               <input class="search-reset" type="submit" value="Download Excel"></input> -->
         </div>
         <div style="padding: 20px;">
            <form action="{% url 'labs:SampleIntakeForm' %}"  method="POST" class="intake-form" style="width: 900px;">
               {% csrf_token %}
               <div class="container">
                  <div style="padding: 20px;">
                     <div class="form-group">
                        <label for="email">Date :</label>
                        <input class="search-input" size="40" type="date" name="Date" name="gsearch">
                     </div>
                     <div class="form-group">
                        <label for="pwd">Sample ID :</label>
                        <input class="search-input" size="40" type="" name="SampleId" value="{{ sample_id }}" style="width: 40%;">
                     </div>
                     <div class="form-group">
                        <label for="pwd">Sample Name :</label>
                        <input class="search-input" type="" name="SampleName" placeholder="062223-001" style="width: 70%;">
                     </div>                     
                     <div class="form-group">
                        <label for="pwd">Matrix :</label>
                        <input class="search-input"  list="suggestions" style="width: 40%;" name="Matrix" required> 
                        <datalist style="position: absolute;" name="suggestions">
                           <option>Flower</option>
                           <option>Kief</option>
                           <option>Concentrate</option>
                           <option>Edible</option>
                           <option>Topical</option>
                        </datalist>
                        
                     </div>
                     <div class="form-group">
                        <label for="pwd">Batch Number :</label>
                        <input class="search-input" name="BatchNumber" placeholder="" style="width: 40%;">
                     </div>                     
                     <div class="form-group">
                        <label for="pwd">Sample Size :</label>
                        <input class="search-input" name="SampleSize" placeholder="" style="width: 42%;">
                     </div>
                     <div class="form-group">
                        <label for="pwd">Batch Size :</label>
                        <input class="search-input" style="width: 21%;" name="BatchSize">
                     </div>
                     <div class="form-group">
                        <label for="pwd">Distributor/ Micro business Name :</label>
                        <input class="search-input" style="width: 50%;" placeholder="Enter Distributor/ Micro business Name" name="DistributorName">
                     </div>
                     <div class="form-group">
                        <label for="pwd">Distributor / Micro business License # :</label>
                        <input class="search-input" style="width: 47%;" placeholder="Distributor / Micro business License #" name="DistributorLicence">
                     </div>
                     <div class="form-group">
                        <label for="pwd">Chain of Custody Number :</label>
                        <input class="search-input" style="width: 30%;" name="CustodyNumber">
                     </div>
                     <button type="submit" class="search-reset fa fa-save" style="background-color: green; color: white;" >Save </button>
                  </div>
               </div>
            </form>
         </div>
      </section>
{% endblock %}